<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Emcall</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>emcall</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIBackgroundModes</key>
		<array>
			<string>location</string>
			<string>fetch</string>
			<string>processing</string>
		</array>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>location-services</string>
			<string>gps</string>
		</array>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>We use your location to provide better service and emergency tracking.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>We need access to your location even when the app is in the background to help in emergencies.</string>
		<key>NSCameraUsageDescription</key>
		<string>This app requires camera access for emergency video calls.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>This app needs access to your photo library to attach files during calls.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>We need microphone access for voice communication during emergency calls.</string>
		<key>NSContactsUsageDescription</key>
		<string>We access your contacts to enable quick emergency communication.</string>
		<key>NSBluetoothPeripheralUsageDescription</key>
		<string>Bluetooth is used for device connections in emergency scenarios.</string>
		<key>UIAppFonts</key>
		<array>
			<string>fonts/Roboto-Regular.ttf</string>
			<string>fonts/Roboto-Bold.ttf</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>tel</string>
					<string>sms</string>
				</array>
			</dict>
		</array>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>
